# REPOSITORIES
# ==============================================================================

gitPathSoil=https://github.com/hugopeek/romanesco-soil.git
gitPathData=https://github.com/hugopeek/romanesco-data.git
gitPathTheme=https://github.com/hugopeek/romanesco-theme.git

cbHeadingImagePath=https://github.com/hugopeek/cbheadingimage.git
romanescoBackyardPath=https://github.com/hugopeek/romanesco-backyard.git
htmlPageDomPath=https://github.com/hugopeek/htmlpagedom.git
mailBlocksPath=https://github.com/hugopeek/mailblocks.git


# ENVIRONMENT
# ==============================================================================

localUser={{ user_name }}
phpUser={{ user_name }}
phpVersion={{ php_version }}

gitifyCmd="$(command -v gitify)"


# MODX
# ==============================================================================

modxVersion={{ modx_version }}

createDB=n
createDBU=n
dbName={{ db_name }}
dbUser={{ db_user }}
dbPass={{ db_pass }}

defaultUser={{ modx_user }}
defaultEmail={{ modx_email }}


# PACKAGES
# ==============================================================================

modmoreUser={{ modmore_user }}
modmoreAPIkey={{ modmore_api_key }}

gpmPath=~/packages
#packagesPath=/var/www/packages
